﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/Bootstrap.css")
</head>
    <body>
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Крестики-нолики</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Новая игра","NewGame","Game")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Загрузка<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Из файла", "LoadFileGame", "Game")</li>
                                    <li>@Html.ActionLink("Из БД", "LoadBdGame", "Game")</li>
                                </ul>
                            </li>
                            @if (Session.Get() != null && Session.Get().GameModel != null &&
                                Session.Get().IsGameStart)
                            {
                                <li>@Html.ActionLink("Текущая игра", "Game", "Game", null , new {@style="font-style: italic"})</li>
                            }
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/Bootstrap.js")
        </div>
</body>
</html>
