﻿@using Krest_nol_core
@model Krest_nol_web.Models.Game.GameM
@{
    ViewBag.Title = "Game";
    Game currentGame = null;
    if (Model != null)
    {
        currentGame = Model.Game;
    }
}


    <div class="container">
        <form class="form-signin" role="form" method="POST">
            @if (Model != null && currentGame != null)
            {
                <table>
                    @for (int i = 0; i < currentGame.SizePole; i++)
                    {
                        <tr>
                            @for (int j = 0; j < currentGame.SizePole; j++)
                            {
                                <td>
                                    @{
                                char outText =
                                    currentGame.Pole[i * currentGame.SizePole + j] == Game.OldDefaultCellsPole 
                                    ? Game.DefaultCellsPole : currentGame.Pole[i * currentGame.SizePole + j];
                                string valueButton = new Cell(j, i).ToString();
                                    }
                                    <button type="submit" name="btn" value="@valueButton">@outText</button>
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
        </form>
    </div>
