﻿@using System.Drawing
@using System.Web.UI.WebControls
@using Krest_nol_core
@model Krest_nol_web.Models.Game.Load.LoadBd
@{
    ViewBag.Title = "LoadBdGame";
    
        Game[] games = DataBase.DB.GetFullGames();
        List<string> ls = new List<string>();
        List<int> li = new List<int>();
        List<SelectListItem> listSelectListItems = new List<SelectListItem>();
        for (int i = 0, size = games.Count(); i < size; i++)
        {
            listSelectListItems.Add(new SelectListItem
            {
                Text = String.Format("{0}. Всего игроков {1}. Текущий игрок {2}.", games[i].ID, games[i].PlayerCount,
                    games[i].CurrentPlayerID),
                    
                    Value = games[i].ID.ToString()
            });
            ls.Add(String.Format("{0}. Всего игроков {1}. Текущий игрок {2}.", games[i].ID, games[i].PlayerCount, 
                games[i].CurrentPlayer));
            li.Add(games[i].ID);
        }
        IEnumerable<SelectListItem> savedGames = listSelectListItems;
    
}


<div class="container">
    @using (Html.BeginForm(new { @class = "form-signin" }))
{
    <div align="center">
        <label>@Html.LabelFor(m => m.Input)</label><br />
        @Html.DropDownListFor(m => m.Input, savedGames)
        <span style="color: red">@Html.ValidationMessageFor(m => m.Input)</span>

        <p style="color: red">@Html.ValidationMessage("myError")</p>
        <input type="submit" value="Выбрать" class="btn btn-primary btn-lg"/>
    </div>
}
</div>
