﻿
@{
    ViewBag.Title = "LoadGame";
}

<div class="center-block">
    <button type="button" class="btn btn-primary btn-lg" value="0">Из файла</button>
    <button type="button" class="btn btn-primary btn-lg" value="1">Из БД</button>
</div>

