﻿@model Krest_nol_web.Models.Game.NewGame
@{
    ViewBag.Title = "NewGame";
}

@using (Html.BeginForm())
{
    <div align="center">
        <p>
            <label>@Html.LabelFor(m => m.Size)</label><br/>
            @Html.TextBoxFor(m => m.Size)
            <span style="color: red">@Html.ValidationMessageFor(m => m.Size)</span>
        </p>
        <p>
            <label>@Html.LabelFor(m => m.WinSequenceLength)</label><br />
            @Html.TextBoxFor(m => m.WinSequenceLength)
            <span style="color: red">@Html.ValidationMessageFor(m => m.WinSequenceLength)</span>
        </p>
        <p>
            <label>@Html.LabelFor(m => m.PlayerCount)</label><br />
            @Html.TextBoxFor(m => m.PlayerCount)
            <span style="color: red">@Html.ValidationMessageFor(m => m.PlayerCount)</span>
        </p>
        <p>
            <input type="submit" value="Отправить" class="btn btn-primary btn-lg">
            <input type="reset" value="Очистить" class="btn btn-primary btn-lg">
        </p>
    </div>
}
