﻿@using Krest_nol_core
@model Krest_nol_web.Models.Game.NewGame
@{
    ViewBag.Title = "Players";
    Game currentGame = null;
    if (Session.Get() != null && Session.Get().GameModel != null)
    {
        currentGame = Session.Get().GameModel.Game;
    }
}

@using (Html.BeginForm())
{
    if (Model != null && currentGame != null)
     {
         <div align="center">
             <p>
                 @Html.Label(String.Format("Введите данные для {0}-го игрока",currentGame.PlayerCount-Model.PlayerCount))
             </p>
             <p>
                 <label>@Html.LabelFor(m => m.PlayerName)</label><br/>
                 @Html.TextBoxFor(m => m.PlayerName)
                 <span style="color: red">@Html.ValidationMessageFor(m => m.PlayerName)</span>
             </p>
             <p>
                 <label>@Html.LabelFor(m => m.PlayerSymbol)</label><br />
                 @Html.TextBoxFor(m => m.PlayerSymbol)
             </p>
             <p>
                 <input type="submit" value="Отправить" class="btn btn-primary btn-lg">
                 <input type="reset" value="Очистить" class="btn btn-primary btn-lg">
             </p>
         </div>
     }
}

