﻿@model string
@{
    ViewBag.Title = "Starter";
}

@using (Html.BeginForm())
{
    <div class="center-block">
        <button type="button" class="btn btn-primary btn-lg" value="0">Новая игра</button>
        <button type="button" class="btn btn-primary btn-lg" value="1">Загрузить игру</button>
    </div>
}