﻿@using Krest_nol_core
@using Krest_nol_web.Models
@model GameModel
@{
    ViewBag.Title = "Game";
    Game currentGame = Model == null ? null : Model.Game;
}

@using (Html.BeginForm())
{
    <p>
        
        @{
            if (Model != null)
            {
                if (currentGame != null)
                {
                    <table>
                       @for (int i = 0; i < currentGame.SizePole; i++)
                       {
                           <tr>
                               @for (int j = 0; j < currentGame.SizePole; j++)
                               {
                                   <td>@currentGame.Pole[i*currentGame.SizePole + j]</td>
                               }
                           </tr>
                       }
                    </table>
                }
                @Html.Raw(Model.Output)
            }
        }<br/>
        @Html.TextBoxFor(m => m.InputData)
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>

    <p id="errorMsg">@Html.ValidationMessage("myError")</p>
    <style type="text/css">
        #errorMsg {
            color: red;
        }
    </style>
}