﻿@model Krest_nol_web.Models.InputData
@{
    ViewBag.Title = "InputData";
}

InputData: @Model

@using (Html.BeginForm())
{
    <p>
        <label>@Html.LabelFor(m => m.Name)</label><br />
        @Html.TextBoxFor(m => m.Name)
        <span style="color: red">@Html.ValidationMessageFor(m => m.Name)</span>
    </p>
    <p>
        <label>@Html.LabelFor(m => m.Browser)</label><br/>
        @Html.RadioButtonFor(m => m.Browser, "ie") Internet Explorer<br>
        @Html.RadioButtonFor(m => m.Browser, "opera") Opera<br>
        @Html.RadioButtonFor(m => m.Browser, "firefox") Firefox<br>
        @Html.ValidationMessageFor(m => m.Browser)
    </p>
    <p>
        <label>@Html.LabelFor(m => m.Comment)</label><br />
        @Html.TextAreaFor(m => m.Comment, 3, 40, null)
        @Html.ValidationMessageFor(m => m.Comment)
    </p>
    <p>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </p>
    
    <p style="color: red">@Html.ValidationMessage("myError")</p>
}